# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/
build/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# firebase
firebase-debug.log*
firestore-debug.log*
database-debug.log*
ui-debug.log*
.firebase/

# IDE
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
.env*.local
